
*{box-sizing: border-box}

.headerbg{background: #fff;width: 100%;border: 1px solid #000; height: 90px;
position: fixed;z-index: 999;}
.wrap{min-width: 100%;
     padding-top: 90px;
     background: #000;}
.slidecontainer{min-height: 100%;}
.slidewrap{width: 100%;min-height: 100%;}
.slide{background-position: center;background-repeat: no-repeat;background-size: cover;padding-top: 45.8%;
    width: 100%;
    top: 0;
    bottom: 0;
position: absolute;}
.bg1{background-image: url(/Dokdo/images/bg1.jpg);}
.bg2{background-image: url(/Dokdo/images/bg2.jpg);}
.bg3{background-image: url(/Dokdo/images/bg3.jpg);}

  @media only screen and (min-width: 481px) and (max-width: 785px) {
    .wrap {
      background-color: green;
    }
  }

  @media only screen and (min-width: 786px) {
    .wrap {
      background-color: lightblue;
    }
  }
